body {
  background-image: url(https://cdn.pixabay.com/photo/2016/07/11/20/34/lost-places-1510592_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.app {
  width: 80%;
  height: 70vh;
  background-color: rgba(0, 255, 255, 0.688);
  border-radius: 10px;
  padding: 30px;
  margin: 100px;
  font-family: monospace;
  font-size: 1.5em;
}

h1 , h2  {
  text-align: center;
}

.btn-1 {
  display: flex;
  flex-direction: column;
}

.bnt {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.bnt:hover {
  background-color: black;
  color: white;
}

.b2 {
  display: flex;
  justify-content: center;
}

.btn-2 {
  padding: 100px ;
}


@media screen and (max-width: 609px){
  .bnt {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.4em;
  }
  .app {
    width: 80%;
    height: 70vh;
    background-color: rgba(0, 255, 255, 0.688);
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    font-family: monospace;
    font-size: 0.8em;
  }
}


.correct {
  background: blue;
}

.incorret {
  background: red;
}